body {
    background-color: rgb(253, 251, 251);
    font-family: 'Courier New', Courier, monospace;
}

#cabecalho {
    top: 0;
    background-color: #036b52;
    padding: 20px 50px 50px 50px;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

#navegacao {
    color:rgb(253, 251, 251);

}

#minha_foto {
    width: 300px;
    padding: 20px 20px 0px 20px;
    display: inline-block;
}

p {
    margin-left: 20px;
   
}

#licoes_aprendidas {
    width: 40%;
    display: inline-block;
}

#licoes_a_aprender {
    width: 40%;
    display: inline-block;
}

#rodape {
    bottom: 0;
    background-color: #036b52;
    padding: 20px;
    text-align: right;
}

aside {
    width: 50%;
    padding: 20px;
    margin-left: 20px;
    background-color: lightgray;
    display: inline-block;
  }

  table, th, td {
    border:1px solid black;
    width: 50%;
  }