body {
    background-color: rgb(253, 251, 251);
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
    font-size: 15px;
    line-height: 25px;
}

#cabecalho {
    top: 0;
    background-color: #036b52;
    padding: 20px 50px 50px 50px;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

#navegacao {
    color:rgb(253, 251, 251);

}

#minha_foto {
    width: 300px;
    padding: 20px 20px 0px 20px;
    display: inline-block;
}

p, h2 {
    margin-left: 20px;
    margin-bottom: 0px;
}

#licoes_aprendidas {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
}

#licoes_a_aprender {
    width: 40%;
    display: inline-block;
    margin-left: 20px;
}

#rodape {
    bottom: 0;
    background-color: #036b52;
    padding: 20px;
    text-align: right;
    color: black;
}

aside {
  
    padding: 20px;
    margin-left: 20px;
    background-color: lightgray;
}

article {
    text-align: justify;
    margin: 20px;
    border-style: inset;
    padding: 15px;
}

#lado-esquerdo {
    display: inline-block;
    width: 40%;
    
}

#lado-direito {
    display: inline-block;
    width: 40%;
}

table, th, td {
    border: 2px solid darkslategrey;
    border-collapse: collapse;
    text-align: center;
    font-size: 13px;
}