body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    background-color: #036b52;
    padding: 20px 50px 50px 50px;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

#navegacao {
    color:rgb(253, 251, 251);

}

#minha_foto {
    width: 300px;
    padding: 20px 20px 0px 20px;
}

p {
    margin-left: 20px;
   
}

#licoes_aprendidas {
    width: 40%;
    display: inline-block;
}

#licoes_a_aprender {
    width: 40%;
    display: inline-block
}

#rodape {
    bottom: 0;
    background-color: #036b52;
    padding: 20px;
    text-align: right;
}